.notification {
    position: absolute;
    background-color: #FB404B;
    text-align: center;
    border-radius: 10px;
    min-width: 18px;
    padding: 0 5px;
    height: 18px;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 18px;
    top: 2px;
    left: 7px;
}

.navbar .navbar-nav > li > a [class^="fa"] {
    font-size: 19px;
    position: relative;
    line-height: 16px;
    top: 1px;
}
.navbar-default .navbar-nav > li > a:not(.btn) {
    color: #9A9A9A;
}
.navbar .navbar-nav > li > a {
    padding: 10px 15px;
    margin: 10px 3px;
    position: relative;
}
.navbar-minimize {
    float: left;
    margin: 12px 15px;
}
