@media (min-width: 992px){
  .sidebar-mini .sidebar, .sidebar-mini .main-panel {
      overflow: visible;
      max-height: none;
      height: auto;
  }
}
@media (min-width: 992px){
  .sidebar-mini .sidebar {
      width: 80px;
      display: block;
      font-weight: 200;
      z-index: 3;
  }
}
.sidebar, .main-panel {
    max-height: 100%;
    height: 100%;
}
.sidebar, .main-panel, .sidebar-wrapper, .navbar-fixed {
    -webkit-transition-property: top,bottom,width;
    transition-property: top,bottom, width;
    -webkit-transition-duration: .2s,.2s, .35s;
    transition-duration: .2s,.2s, .35s;
    -webkit-transition-timing-function: linear,linear,ease;
    transition-timing-function: linear,linear,ease;
    -webkit-overflow-scrolling: touch;
}
.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
}
.sidebar:before, .bootstrap-navbar:before {
    opacity: .33;
    background: #000000;
}
.sidebar:after, .sidebar:before, .bootstrap-navbar:after, .bootstrap-navbar:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar[data-image]:after, .sidebar.has-image:after, .bootstrap-navbar[data-image]:after, .bootstrap-navbar.has-image:after {
    opacity: .95;
}
.sidebar:after, .bootstrap-navbar:after {
    background: #787878;
    background: -moz-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787878), color-stop(100%, rgba(52, 52, 52, 0.7)));
    background: -webkit-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background: -o-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background: -ms-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background: linear-gradient(to bottom, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background-size: 150% 150%;
    z-index: 3;
    opacity: 1;
}
.sidebar:after, .sidebar:before, .bootstrap-navbar:after, .bootstrap-navbar:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.height{
  height: auto;
}
.sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}
@media (min-width: 992px){
  .sidebar-mini .sidebar .sidebar-wrapper {
      overflow: inherit;
      width: 80px;
      box-shadow: none;
  }
  .sidebar-mini .sidebar, .sidebar-mini .main-panel {
    overflow: visible;
    max-height: none;
    height: auto;
}
}
.perfect-scrollbar-off .sidebar .sidebar-wrapper, .perfect-scrollbar-off .main-panel {
    overflow: auto;
}
.sidebar .sidebar-wrapper {
    position: relative;
    z-index: 4;
    width: 260px;
    height: calc(100vh - 64px);
}
.sidebar, .main-panel, .sidebar-wrapper, .navbar-fixed {
    -webkit-transition-property: top,bottom,width;
    transition-property: top,bottom, width;
    -webkit-transition-duration: .2s,.2s, .35s;
    transition-duration: .2s,.2s, .35s;
    -webkit-transition-timing-function: linear,linear,ease;
    transition-timing-function: linear,linear,ease;
    -webkit-overflow-scrolling: touch;
}
.sidebar[data-color="red"]:after, .bootstrap-navbar[data-color="red"]:after {
    background: #FB404B;
    background: -moz-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FB404B), color-stop(100%, rgba(187, 5, 2, 0.7)));
    background: -webkit-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
    background: -o-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
    background: -ms-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
    background: linear-gradient(to bottom, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
    background-size: 150% 150%;
}
.sidebar:after, .sidebar:before, .bootstrap-navbar:after, .bootstrap-navbar:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.sidebar-background {
  background-image: url('/static/media/full-screen-image-3.jpg');
}
.sidebar:after, .sidebar:before, .bootstrap-navbar:after, .bootstrap-navbar:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.sidebar {
  position: fixed;
}
