.footer {
    border-top: 1px solid #e7e7e7;
}
.footer {
    background-color: #FFFFFF;
    line-height: 20px;
}
.footer .copyright {
    color: #797979;
    padding: 10px 15px;
    margin: 10px 3px;
    line-height: 31px;
    font-size: 14px;
}
a {
    color: #23CCEF;
}
.footer:not(.footer-big) nav > ul {
    font-size: 16px;
}
.footer nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
@media (min-width: 992px){
    .footer:not(.footer-big) nav > ul li:first-child {
      margin-left: 0;
    }
}
.footer:not(.footer-big) nav > ul li {
    margin-left: 20px;
    float: left;
}
.footer:not(.footer-big) nav > ul a {
    padding: 10px 0px;
    margin: 15px 10px 15px 0px;
}

.footer nav > ul a:not(.btn) {
    color: #9A9A9A;
    display: block;
    margin-bottom: 3px;
}
